_legacy_backup/workflows/payment-followup.json
{
  "name": "Seguimiento de Pagos Pendientes",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 1,
              "triggerAtHour": 9,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "getAll",
        "table": "ingresos",
        "returnAll": true,
        "options": {
          "filterType": "manual",
          "conditions": {
            "conditions": [
              {
                "leftValue": "estado",
                "rightValue": "pendiente",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ]
          }
        }
      },
      "id": "supabase-query",
      "name": "Consultar Pagos Pendientes",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "supabaseApi": "Supabase Account"
      },
      "operation": "getAll"
    },
    {
      "parameters": {
        "jsCode": "// Filtrar pagos con más de 30 días de atraso\nconst today = new Date();\nconst thirtyDaysAgo = new Date(today);\nthirtyDaysAgo.setDate(thirtyDaysAgo.getDate() - 30);\n\nconst payments = $input.all().map(item => item.json);\n\n// Filtrar por fecha de emisión\nconst overduePayments = payments.filter(p => {\n  if (!p.fecha_emision) return false;\n  const emisionDate = new Date(p.fecha_emision);\n  return emisionDate < thirtyDaysAgo;\n});\n\nif (overduePayments.length === 0) {\n  return [{ json: { has_overdue: false, count: 0, payments: [] } }];\n}\n\n// Calcular total\nconst totalAmount = overduePayments.reduce((sum, p) => sum + parseFloat(p.monto || 0), 0);\n\nreturn [{\n  json: {\n    has_overdue: true,\n    count: overduePayments.length,\n    total: totalAmount,\n    payments: overduePayments\n  }\n}];"
      },
      "id": "filter-overdue",
      "name": "Filtrar Vencidos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-overdue",
              "leftValue": "={{ $json.has_overdue }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-overdue",
      "name": "¿Hay Vencidos?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "jsCode": "// Crear mensaje para Telegram\nconst data = $input.first().json;\nconst payments = data.payments;\n\nconst formatCurrency = (amount) => {\n  return new Intl.NumberFormat('es-MX', {\n    style: 'currency',\n    currency: 'MXN'\n  }).format(amount);\n};\n\nconst formatDate = (dateStr) => {\n  const date = new Date(dateStr);\n  return date.toLocaleDateString('es-MX');\n};\n\nlet message = `📊 **Reporte de Pagos Pendientes**\\n`;\nmessage += `📅 ${new Date().toLocaleDateString('es-MX')}\\n\\n`;\nmessage += `⚠️ **${payments.length} factura(s)** con más de 30 días de atraso:\\n\\n`;\n\n// Top 10 por monto\nconst sortedPayments = [...payments].sort((a, b) => parseFloat(b.monto) - parseFloat(a.monto));\nconst topPayments = sortedPayments.slice(0, 10);\n\ntopPayments.forEach((p, i) => {\n  const daysLate = Math.floor((new Date() - new Date(p.fecha_emision)) / (1000 * 60 * 60 * 24));\n  message += `${i + 1}. **${p.cliente}**\\n`;\n  message += `   💰 ${formatCurrency(p.monto)} - ⏰ ${daysLate} días\\n`;\n});\n\nif (payments.length > 10) {\n  message += `\\n... y ${payments.length - 10} más\\n`;\n}\n\nmessage += `\\n💰 **Total pendiente:** ${formatCurrency(data.total)}`;\n\nreturn [{\n  json: {\n    telegram_message: message,\n    count: payments.length,\n    total: data.total\n  }\n}];"
      },
      "id": "create-telegram-message",
      "name": "Crear Mensaje Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.telegram_message }}",
        "additionalFields": {
          "parseMode": "Markdown"
        }
      },
      "id": "send-telegram",
      "name": "Enviar Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1250, 200],
      "credentials": {
        "telegramApi": "Telegram Bot"
      }
    },
    {
      "parameters": {
        "jsCode": "// Crear alertas en base de datos\nconst data = $input.first().json;\nconst payments = data.payments || [];\n\nif (payments.length === 0) {\n  return [{ json: { alerts_created: 0 } }];\n}\n\nconst alerts = payments.map(p => ({\n  json: {\n    user_id: p.user_id,\n    tipo_alerta: 'pago_pendiente_30dias',\n    referencia_id: p.id,\n    fecha_ejecucion: new Date().toISOString().split('T')[0]\n  }\n}));\n\nreturn alerts;"
      },
      "id": "create-alerts-db",
      "name": "Crear Alertas DB",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "operation": "create",
        "table": "alertas_programadas",
        "options": {}
      },
      "id": "insert-alerts",
      "name": "Insertar Alertas",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1250, 400],
      "credentials": {
        "supabaseApi": "Supabase Account"
      },
      "operation": "create"
    }
  ],
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Consultar Pagos Pendientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Pagos Pendientes": {
      "main": [
        [
          {
            "node": "Filtrar Vencidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Vencidos": {
      "main": [
        [
          {
            "node": "¿Hay Vencidos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay Vencidos?": {
      "main": [
        [
          {
            "node": "Crear Mensaje Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Crear Alertas DB",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Crear Mensaje Telegram": {
      "main": [
        [
          {
            "node": "Enviar Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Alertas DB": {
      "main": [
        [
          {
            "node": "Insertar Alertas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2.0.0",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "name": "payments"
    },
    {
      "name": "alerts"
    },
    {
      "name": "telegram"
    }
  ]
}
