workflows/COMPLETO1.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "process-invoice",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "be80cec3-e862-4c96-b17e-66d1f5dd9182",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1312,
        1600
      ],
      "webhookId": "a0262109-5a1b-4125-aa7a-30908df50cdf"
    },
    {
      "parameters": {
        "functionCode": "// Validar datos de entrada y convertir a binario\nconst data = $input.first().json.body || {};\n\nif (!data.user_id || !data.image_base64) {\n  throw new Error('Faltan campos requeridos: user_id, image_base64');\n}\n\nreturn [{\n  binary: {\n    data: {\n      data: data.image_base64,\n      mimeType: 'image/jpeg',\n      fileName: `factura_${Date.now()}.jpg`\n    }\n  },\n  json: {\n    user_id: data.user_id,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "4fc5d56e-8501-4610-bd6e-c23b04d71c51",
      "name": "Validar Input",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -1104,
        1600
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "bucketId": "facturas",
        "binaryPropertyName": "data",
        "options": {}
      },
      "id": "d7df2662-b73e-4c54-95c5-def26bfe50da",
      "name": "Subir a Supabase Storage",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -912,
        1600
      ],
      "credentials": {
        "supabaseApi": {
          "id": "L45EfZyasKYoHiTY",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Pasamos el JSON y el archivo binario intacto al siguiente nodo\nreturn [{\n  json: {\n    ...$input.first().json,\n    storage_path: $node[\"Subir a Supabase Storage\"]?.json?.path || \"\"\n  },\n  binary: $input.first().binary\n}];"
      },
      "id": "d56cc5d3-d8bb-400b-b8ec-f902877cfc01",
      "name": "Preparar OCR y Binario",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -720,
        1600
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Eres un contador experto y analista de documentos especializado en FACTURAS DE PARAGUAY y normativa de la SET.\\n\\nTu tarea es analizar una imagen de una factura paraguaya y extraer información estructurada útil para contabilidad y registro de compras.\\n\\nLa factura puede ser:\\n\\n- Factura electrónica (KuDE)\\n- Factura física manual\\n- Ticket fiscal\\n- Factura impresa de sistema\\n- Ticket de impresora térmica\\n\\nEl formato puede variar significativamente entre proveedores.\\n\\nLa imagen puede contener:\\n\\n- desenfoque\\n- sombras\\n- rotación\\n- partes cortadas\\n- texto escrito a mano\\n- impresión térmica de baja calidad\\n\\nDebes intentar extraer la información aun cuando la imagen no sea perfecta.\\n\\nSi algún dato no está visible, devolver null.\\n\\nNunca inventes valores.\\n\\n--------------------------------------------------\\n\\nIDENTIFICAR Y EXTRAER\\n\\n1. TIPO DE DOCUMENTO\\n\\nValores posibles:\\n\\n- factura\\n- factura electrónica\\n- ticket\\n- nota de venta\\n- otro\\n\\n--------------------------------------------------\\n\\n2. PROVEEDOR (EMISOR)\\n\\nExtraer:\\n\\n- razon_social\\n- ruc\\n- nombre_fantasia\\n- direccion\\n- telefono\\n\\nTambién generar:\\n\\nproveedor_normalizado\\n\\nEste campo debe ser una versión limpia del proveedor para facilitar agrupación.\\n\\nEjemplo:\\n\\n\"INDUSTRIAL DELIGHTS S.A.E.\"  \\n→ \"INDEL\"\\n\\n\"JET INDUSTRIAL Y COMERCIAL SRL\"  \\n→ \"JET\"\\n\\nSi no se puede inferir, usar razon_social.\\n\\n--------------------------------------------------\\n\\n3. CLIENTE\\n\\nExtraer si está visible:\\n\\n- razon_social\\n- ruc\\n- direccion\\n\\n--------------------------------------------------\\n\\n4. INFORMACIÓN DEL DOCUMENTO\\n\\nExtraer:\\n\\n- numero_factura\\n- timbrado\\n- fecha_emision\\n- condicion_venta (contado / credito)\\n\\nSi es factura electrónica también extraer:\\n\\n- cdc\\n- codigo_seguridad\\n- qr_presente (true/false)\\n\\n--------------------------------------------------\\n\\n5. ITEMS / DETALLE DE PRODUCTOS\\n\\nPara cada producto extraer:\\n\\n- codigo\\n- descripcion\\n- cantidad\\n- precio_unitario\\n- total_item\\n- iva_tipo\\n\\nValores posibles para iva_tipo:\\n\\n- 10\\n- 5\\n- exenta\\n\\nSi el documento no muestra claramente el IVA por item, inferirlo según la columna correspondiente.\\n\\n--------------------------------------------------\\n\\n6. CLASIFICACIÓN DE COMPRA\\n\\nClasificar automáticamente la compra según los productos detectados.\\n\\nValores posibles:\\n\\n- lacteos\\n- bebidas\\n- snacks\\n- panificados\\n- dulces\\n- insumos cocina\\n- alimentos\\n- limpieza\\n- descartables\\n- otros\\n\\nEjemplo:\\n\\nqueso → lacteos  \\nchocolates → dulces  \\ncrackers → snacks  \\n\\nGuardar en:\\n\\ncategoria_compra\\n\\n--------------------------------------------------\\n\\n7. RESUMEN DE IMPUESTOS\\n\\nExtraer:\\n\\n- total_exentas\\n- total_gravadas_5\\n- total_gravadas_10\\n- iva_5\\n- iva_10\\n- total_iva\\n\\n--------------------------------------------------\\n\\n8. TOTALES\\n\\nExtraer:\\n\\n- subtotal\\n- descuento\\n- total\\n\\nTodos los valores monetarios deben devolverse como ENTEROS en guaraníes.\\n\\nEjemplo correcto:\\n\\n1053800\\n\\nEjemplo incorrecto:\\n\\n\"1.053.800\"\\n\\n--------------------------------------------------\\n\\n9. CÁLCULO CONTABLE\\n\\nCalcular:\\n\\niva_credito_fiscal\\n\\nRegla:\\n\\nIVA crédito fiscal = IVA total de la factura.\\n\\nSi hay 5% y 10%, sumar ambos.\\n\\nEjemplo:\\n\\niva_5 = 20000  \\niva_10 = 50000  \\n\\niva_credito_fiscal = 70000\\n\\n--------------------------------------------------\\n\\n10. DETECCIÓN DE POSIBLE DUPLICADO\\n\\nCrear un campo:\\n\\nposible_duplicado_key\\n\\nGenerarlo concatenando:\\n\\nruc_proveedor + numero_factura + total\\n\\nEjemplo:\\n\\n80061506-9_001-013-0510259_314200\\n\\nEsto sirve para detectar facturas repetidas en sistemas contables.\\n\\n--------------------------------------------------\\n\\n11. VALIDACIONES\\n\\nAnalizar posibles inconsistencias:\\n\\n- el total no coincide con la suma de los ítems\\n- el IVA no coincide con el cálculo\\n- números poco legibles\\n- falta timbrado\\n- factura vencida (si aparece vigencia)\\n\\nEscribir explicación en:\\n\\nnotas_validacion\\n\\n--------------------------------------------------\\n\\nFORMATO DE SALIDA\\n\\nDevolver SOLO JSON válido.\\n\\nEjemplo de estructura:\\n\\n{\\n  \"document_type\": \"\",\\n  \"supplier\": {\\n    \"razon_social\": \"\",\\n    \"ruc\": \"\",\\n    \"nombre_fantasia\": \"\",\\n    \"direccion\": \"\",\\n    \"telefono\": \"\",\\n    \"proveedor_normalizado\": \"\"\\n  },\\n  \"customer\": {\\n    \"razon_social\": \"\",\\n    \"ruc\": \"\",\\n    \"direccion\": \"\"\\n  },\\n  \"document_info\": {\\n    \"numero_factura\": \"\",\\n    \"timbrado\": \"\",\\n    \"fecha_emision\": \"\",\\n    \"condicion_venta\": \"\",\\n    \"cdc\": null,\\n    \"codigo_seguridad\": null,\\n    \"qr_presente\": false\\n  },\\n  \"items\": [\\n    {\\n      \"codigo\": \"\",\\n      \"descripcion\": \"\",\\n      \"cantidad\": 0,\\n      \"precio_unitario\": 0,\\n      \"total_item\": 0,\\n      \"iva_tipo\": \"\"\\n    }\\n  ],\\n  \"categoria_compra\": \"\",\\n  \"tax_summary\": {\\n    \"total_exentas\": 0,\\n    \"total_gravadas_5\": 0,\\n    \"total_gravadas_10\": 0,\\n    \"iva_5\": 0,\\n    \"iva_10\": 0,\\n    \"total_iva\": 0\\n  },\\n  \"totals\": {\\n    \"subtotal\": 0,\\n    \"descuento\": 0,\\n    \"total\": 0\\n  },\\n  \"calculos\": {\\n    \"iva_credito_fiscal\": 0\\n  },\\n  \"posible_duplicado_key\": \"\",\\n  \"notas_validacion\": \"\"\\n}\\n\\nSi un dato no aparece en la factura devolver null.\\n\\nNunca inventar valores.",
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary"
            }
          ]
        }
      },
      "id": "cbe74ad1-7279-466b-b38c-e1276c2efa86",
      "name": "Image Explainer",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        -464,
        1600
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "functionCode": "// La IA devuelve markdown, hay que extraer solo el objeto JSON\nconst rawText = $input.first().json.text || '';\nlet cleanText = rawText.replace(/```json/gi, '').replace(/```/gi, '').trim();\n\ntry {\n  const parsed = JSON.parse(cleanText);\n  \n  // Normalizar fecha si viene en DD/MM/YYYY\n  if (parsed.document_info && parsed.document_info.fecha_emision) {\n    const partes = parsed.document_info.fecha_emision.split('/');\n    if (partes.length === 3) {\n      parsed.document_info.fecha_emision = `${partes[2]}-${partes[1]}-${partes[0]}`;\n    }\n  }\n\n  return [{ \n    json: {\n      ...parsed, \n      monto: parsed.totals?.total || 0,\n      proveedor: parsed.supplier?.razon_social || 'Desconocido',\n      fecha_factura: parsed.document_info?.fecha_emision || new Date().toISOString().split('T')[0],\n      concepto_ocr: parsed.categoria_compra || parsed.concepto_ocr || 'Gasto registrado'\n    } \n  }];\n} catch (e) {\n  throw new Error('La IA no devolvió un JSON válido: ' + cleanText);\n}\n"
      },
      "id": "3a19ec3a-5d3d-41f4-b38a-15993240130b",
      "name": "Parsear JSON OCR",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -144,
        1600
      ]
    },
    {
      "parameters": {
        "useCustomSchema": true,
        "tableId": "facturas_gastos",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{$node[\"Validar Input\"].json.user_id}}"
            },
            {
              "fieldId": "monto",
              "fieldValue": "={{$json.totals.total || $json.monto}}"
            },
            {
              "fieldId": "fecha_factura",
              "fieldValue": "={{$json.document_info.fecha_emision || $json.fecha_factura}}"
            },
            {
              "fieldId": "proveedor",
              "fieldValue": "={{$json.supplier.razon_social || $json.proveedor}}"
            },
            {
              "fieldId": "concepto_ocr",
              "fieldValue": "={{$json.categoria_compra || $json.concepto_ocr || 'Sin categoria'}}"
            },
            {
              "fieldId": "estado",
              "fieldValue": "registrada"
            },
            {
              "fieldId": "processed_by_n8n",
              "fieldValue": "true"
            },
            {
              "fieldId": "ruc_proveedor",
              "fieldValue": "={{ $json.supplier?.ruc }}"
            },
            {
              "fieldId": "numero_factura",
              "fieldValue": "={{ $json.document_info?.numero_factura }}"
            },
            {
              "fieldId": "timbrado",
              "fieldValue": "={{ $json.document_info?.timbrado }}"
            },
            {
              "fieldId": "iva_10",
              "fieldValue": "={{ $json.tax_summary?.iva_10 || $json.iva_10 }}"
            }
          ]
        }
      },
      "id": "405a32c5-4bad-49c2-abb7-7ce9f864716c",
      "name": "Insertar en Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        80,
        1600
      ],
      "operation": "insert",
      "credentials": {
        "supabaseApi": {
          "id": "L45EfZyasKYoHiTY",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const ocrData = $node[\"Parsear JSON OCR\"].json;\nreturn [{\n  json: {\n    success: true,\n    extracted: {\n      ...ocrData\n    },\n    message: 'Factura procesada con éxito'\n  }\n}];"
      },
      "id": "742096ba-3b32-4aeb-b45b-9f7c9af0d5a7",
      "name": "Preparar Respuesta",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        288,
        1600
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{JSON.stringify($json)}}",
        "options": {}
      },
      "id": "f58bfe7c-5f37-4183-a30d-718a0496494b",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        480,
        1600
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "b132df14-ae10-47b5-9f50-db5b083a46f1",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -464,
        1792
      ],
      "credentials": {
        "openAiApi": {
          "id": "Kh3Lj6E5mVB4WDKO",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validar Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Input": {
      "main": [
        [
          {
            "node": "Subir a Supabase Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subir a Supabase Storage": {
      "main": [
        [
          {
            "node": "Preparar OCR y Binario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar OCR y Binario": {
      "main": [
        [
          {
            "node": "Image Explainer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Explainer": {
      "main": [
        [
          {
            "node": "Parsear JSON OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear JSON OCR": {
      "main": [
        [
          {
            "node": "Insertar en Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar en Supabase": {
      "main": [
        [
          {
            "node": "Preparar Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Respuesta": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Image Explainer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  }
}