workflows/COMPLETO1.json
{
  "nodes": [
    {
      "parameters": {
        "useCustomSchema": true,
        "operation": "getAll",
        "tableId": "inventario_equipo",
        "filters": {
          "conditions": [
            {
              "keyName": "tipo_propiedad",
              "condition": "eq",
              "keyValue": "RENTADO"
            },
            {
              "keyName": "fecha_fin_renta",
              "condition": "gt",
              "keyValue": "={{ $now.toISODate() }}"
            }
          ]
        }
      },
      "id": "415ef7ac-1f40-4568-82fb-a63d3df5fa33",
      "name": "Consultar Equipos Rentados",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        528,
        1216
      ],
      "credentials": {
        "supabaseApi": {
          "id": "L45EfZyasKYoHiTY",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Filtrar equipos que vencen mañana y hoy\nconst today = new Date();\nconst tomorrow = new Date(today);\ntomorrow.setDate(tomorrow.getDate() + 1);\n\nconst formatDate = (date) => date.toISOString().split('T')[0];\n\nconst equipment = $input.all().map(item => item.json);\n\n// Filtrar por fechas\nconst expiringTomorrow = equipment.filter(e => \n  e.tipo_propiedad === 'RENTADO' &&\n  e.fecha_fin_renta === formatDate(tomorrow) &&\n  !e.alerta_enviada &&\n  e.ubicacion !== 'en_stock'\n);\n\nconst expiringToday = equipment.filter(e => \n  e.tipo_propiedad === 'RENTADO' &&\n  e.fecha_fin_renta === formatDate(today) &&\n  e.ubicacion !== 'en_stock'\n);\n\nreturn [\n  { json: { type: 'tomorrow', equipment: expiringTomorrow } },\n  { json: { type: 'today', equipment: expiringToday } }\n];"
      },
      "id": "1e288e3e-e8b0-48fb-aed9-748ab0feed35",
      "name": "Filtrar Equipos",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        736,
        1216
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.type }}",
        "rules": {
          "rules": [
            {
              "value2": "tomorrow"
            },
            {
              "value2": "today",
              "output": 1
            }
          ]
        }
      },
      "id": "dd6cc68a-39b0-4e31-b0d5-6484382081a2",
      "name": "Switch por Tipo",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        928,
        1216
      ]
    },
    {
      "parameters": {
        "functionCode": "// Procesar equipos que vencen mañana\nconst data = $input.first().json;\nconst equipment = data.equipment || [];\n\nif (equipment.length === 0) {\n  return [];\n}\n\nconst alerts = [];\nfor (const item of equipment) {\n  if (item.user_id && item.id) {\n    alerts.push({\n      json: {\n        user_id: item.user_id,\n        tipo_alerta: 'renta_vence_manana',\n        referencia_id: item.id,\n        fecha_ejecucion: new Date().toISOString().split('T')[0],\n        message: `⚠️ El ${item.nombre} rentado de ${item.proveedor_renta} vence mañana ${item.fecha_fin_renta}. ¿Ya lo devolviste?`\n      }\n    });\n  }\n}\n\nreturn alerts;"
      },
      "id": "b6440ed9-f37e-4e6c-97d9-43a5282db63a",
      "name": "Procesar Vencen Mañana",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1136,
        1104
      ]
    },
    {
      "parameters": {
        "useCustomSchema": true,
        "tableId": "alertas_programadas",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $json.user_id }}"
            },
            {
              "fieldId": "tipo_alerta",
              "fieldValue": "={{ $json.tipo_alerta }}"
            },
            {
              "fieldId": "referencia_id",
              "fieldValue": "={{ $json.referencia_id }}"
            },
            {
              "fieldId": "fecha_ejecucion",
              "fieldValue": "={{ $json.fecha_ejecucion }}"
            },
            {
              "fieldId": "enviada",
              "fieldValue": "false"
            }
          ]
        }
      },
      "id": "a8f1d41e-d035-40ba-aa73-ac7fe34a5c29",
      "name": "Insertar Alertas Mañana",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1344,
        1104
      ],
      "operation": "insert",
      "credentials": {
        "supabaseApi": {
          "id": "L45EfZyasKYoHiTY",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Actualizar equipos para marcar alerta enviada\nconst alerts = $input.all().map(item => item.json);\nconst equipmentIds = alerts.map(alert => alert.referencia_id);\n\nreturn [{\n  json: {\n    equipment_ids: equipmentIds,\n    alerts_created: alerts.length\n  }\n}];"
      },
      "id": "67684b37-c146-44ab-b69e-1dcf02d7f3ad",
      "name": "Preparar Actualización",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1536,
        1104
      ]
    },
    {
      "parameters": {
        "functionCode": "// Procesar equipos que vencen HOY\nconst data = $input.first().json;\nconst equipment = data.equipment || [];\n\nif (equipment.length === 0) {\n  return [];\n}\n\nconst urgentAlerts = [];\nfor (const item of equipment) {\n  if (item.user_id && item.id) {\n    urgentAlerts.push({\n      json: {\n        user_id: item.user_id,\n        tipo_alerta: 'renta_vence_hoy',\n        referencia_id: item.id,\n        fecha_ejecucion: new Date().toISOString().split('T')[0],\n        message: `🚨 HOY devuelve: ${item.nombre} a ${item.proveedor_renta}`\n      }\n    });\n  }\n}\n\nreturn urgentAlerts;"
      },
      "id": "9e877f11-ff68-4432-ae50-cec627fab4a2",
      "name": "Procesar Vencen Hoy",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1136,
        1312
      ]
    },
    {
      "parameters": {
        "useCustomSchema": true,
        "tableId": "alertas_programadas",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $json.user_id }}"
            },
            {
              "fieldId": "tipo_alerta",
              "fieldValue": "={{ $json.tipo_alerta }}"
            },
            {
              "fieldId": "referencia_id",
              "fieldValue": "={{ $json.referencia_id }}"
            },
            {
              "fieldId": "fecha_ejecucion",
              "fieldValue": "={{ $json.fecha_ejecucion }}"
            },
            {
              "fieldId": "enviada",
              "fieldValue": "false"
            }
          ]
        }
      },
      "id": "91cefb73-0c38-4842-a895-015cbb8dfe07",
      "name": "Insertar Alertas Hoy",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1344,
        1312
      ],
      "operation": "insert",
      "credentials": {
        "supabaseApi": {
          "id": "L45EfZyasKYoHiTY",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Preparar resumen para notificación\nlet tomorrowCount = 0;\nlet todayCount = 0;\n\ntry {\n  const tomorrowAlerts = $node[\"Insertar Alertas Mañana\"];\n  if (tomorrowAlerts && tomorrowAlerts.json) {\n    tomorrowCount = Array.isArray(tomorrowAlerts.json) ? tomorrowAlerts.json.length : 1;\n  }\n} catch (e) {}\n\ntry {\n  const todayAlerts = $node[\"Insertar Alertas Hoy\"];\n  if (todayAlerts && todayAlerts.json) {\n    todayCount = Array.isArray(todayAlerts.json) ? todayAlerts.json.length : 1;\n  }\n} catch (e) {}\n\nconst summary = {\n  date: new Date().toISOString().split('T')[0],\n  tomorrow_count: tomorrowCount,\n  today_count: todayCount,\n  total_alerts: tomorrowCount + todayCount\n};\n\nreturn [{ json: summary }];"
      },
      "id": "ff2697e9-d55b-4bd2-b51a-22374231b792",
      "name": "Crear Resumen",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1744,
        1216
      ]
    },
    {
      "parameters": {
        "chatId": "1561439670",
        "text": "📊 **Reporte Diario de Equipo Rentado**\n\n📅 Fecha: {{$json.date}}\n\n⏳ **Por vencer mañana:** {{$json.tomorrow_count}} equipo(s)\n🚨 **Vence HOY:** {{$json.today_count}} equipo(s)\n\nTotal alertas: {{$json.total_alerts}}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "42a2afbd-81cb-423d-838f-d70897570f3b",
      "name": "Notificación Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1936,
        1216
      ],
      "credentials": {
        "telegramApi": {
          "id": "5FzQejcZwpsJkNQC",
          "name": "Publicar_Bezaleel_IG"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "process-invoice",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "8e5ff9d9-3395-4219-b47a-54583f775b8c",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        320,
        1616
      ],
      "webhookId": "c9900166-2986-41b5-9113-8d87682964d4"
    },
    {
      "parameters": {
        "functionCode": "// Validar datos de entrada y convertir a binario\nconst data = $input.first().json.body || {};\n\nif (!data.user_id || !data.image_base64) {\n  throw new Error('Faltan campos requeridos: user_id, image_base64');\n}\n\nreturn [{\n  binary: {\n    data: {\n      data: data.image_base64,\n      mimeType: 'image/jpeg',\n      fileName: `factura_${Date.now()}.jpg`\n    }\n  },\n  json: {\n    user_id: data.user_id,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "379d7819-2105-49fa-adb8-2c1bf9e991b7",
      "name": "Validar Input",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        528,
        1616
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "bucketId": "facturas",
        "binaryPropertyName": "data",
        "options": {}
      },
      "id": "c3bfe4da-7371-4319-8d97-1715633782ab",
      "name": "Subir a Supabase Storage",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        720,
        1616
      ],
      "credentials": {
        "supabaseApi": {
          "id": "L45EfZyasKYoHiTY",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Convertir base64 a Buffer para Google Vision\nconst base64 = $node[\"Validar Input\"].binary.data.data;\n\nreturn [{\n  json: {\n    ...$node[\"Validar Input\"].json,\n    image_buffer: base64,\n    storage_path: $node[\"Subir a Supabase Storage\"].json.path || $node[\"Subir a Supabase Storage\"].json.Key\n  }\n}];"
      },
      "id": "cc919f60-4455-4d66-8d9f-ac2ccb8e5885",
      "name": "Preparar OCR",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        928,    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "4b3f603e-682b-4749-80b6-72f2c9a409b9",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1120,
        1744
      ],
      "credentials": {
        "openAiApi": {
          "id": "lVUucJKXNHrMOcUT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analiza esta factura. Extrae los datos en JSON puro:\n{\n  \"monto\": (total sin comas),\n  \"fecha_factura\": (YYYY-MM-DD),\n  \"proveedor\": (nombre empresa),\n  \"concepto_ocr\": (resumen items)\n}\nSi es un comprobante de transferencia bancaria, responde únicamente la palabra 'TRANSFERENCIA'.",
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary"
            }
          ]
        }
      },
      "id": "8b54e410-07b4-4f1c-b6e6-a0c7f61f095f",
      "name": "Image Explainer",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1120,
        1616
      ]
    },
    {
      "parameters": {
        "functionCode": "// Parsear respuesta de OpenAI\nconst response = $input.first().json.text;\nlet extracted = {};\n\nif (response.includes('TRANSFERENCIA')) {\n  extracted = { monto: 0, proveedor: 'TRANSFERENCIA', concepto_ocr: 'Comprobante de Pago' };\n} else {\n  try {\n    const jsonMatch = response.match(/\\{.*\\}/s);\n    extracted = JSON.parse(jsonMatch ? jsonMatch[0] : response);\n  } catch (e) {}\n}\n\nreturn [{\n  json: {\n    ...$node[\"Preparar OCR\"].json,\n    monto: extracted.monto || 0,\n    fecha_factura: extracted.fecha_factura || new Date().toISOString().split('T')[0],\n    proveedor: extracted.proveedor || 'Proveedor desconocido',\n    concepto_ocr: extracted.concepto_ocr || response.substring(0, 500)\n  }\n}];"
      },
      "id": "7c0a181f-0add-4932-a715-8f4bfd39103d",
      "name": "Procesar Resultados IA",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1328,
        1616
      ]
    },
  1328,
        1616
      ]
    },
    {
      "parameters": {
        "useCustomSchema": true,
        "tableId": "facturas_gastos",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{$node[\"Validar Input\"].json.user_id}}"
            },
            {
              "fieldId": "monto",
              "fieldValue": "={{$json.monto}}"
            },
            {
              "fieldId": "fecha_factura",
              "fieldValue": "={{$json.fecha_factura}}"
            },
            {
              "fieldId": "proveedor",
              "fieldValue": "={{$json.proveedor}}"
            },
            {
              "fieldId": "concepto_ocr",
              "fieldValue": "={{$json.concepto_ocr}}"
            },
            {
              "fieldId": "estado",
              "fieldValue": "registrada"
            },
            {
              "fieldId": "processed_by_n8n",
              "fieldValue": "true"
            }
          ]
        }
      },
      "id": "4e4e2848-aa5c-4758-859f-32b137793943",
      "name": "Insertar en Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1520,
        1616
      ],
      "operation": "insert",
      "credentials": {
        "supabaseApi": {
          "id": "L45EfZyasKYoHiTY",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Preparar respuesta\nconst data = $input.first().json;\nreturn [{\n  json: {\n    success: true,\n    extracted: {\n      monto: data.monto,\n      proveedor: data.proveedor\n    },\n    message: 'Factura procesada'\n  }\n}];"
      },
      "id": "d228ea58-acea-4820-977f-839ecde01830",
      "name": "Preparar Respuesta",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1728,
        1616
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{JSON.stringify($json)}}",
        "options": {}
      },
      "id": "2299511b-d80d-48cf-82c8-a997a49f9040",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1920,
        1616
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": "={{ 0 }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      },
      "id": "9dc4fab9-d2ac-4d67-a147-4a608129e2ad",
      "name": "Verificar Vencidos",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        720,
        2000
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.all();\nconst clean = (text) => text ? String(text).replace(/[_*`]/g, ' ') : '';\nconst formatCurrency = (amount) => new Intl.NumberFormat('es-MX', { style: 'currency', currency: 'MXN' }).format(amount);\n\nlet message = `📊 **Reporte de Pagos Pendientes**\\n\\n`;\nconst payments = data.map(item => item.json);\n\npayments.slice(0, 5).forEach((p, i) => {\n  message += `${i + 1}. **${clean(p.cliente)}** - ${formatCurrency(p.monto)}\\n`;\n});\n\nreturn [{ json: { telegram_message: message } }];"
      },
      "id": "1534e6a7-5eb2-4e71-bbc7-9e4251bb7509",
      "name": "Crear Mensaje Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        1904
      ]
    },
    {
      "parameters": {
        "chatId": "1561439670",
        "text": "={{ $json.telegram_message }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "b58cb407-930b-460b-9f01-4c6753b386e4",
      "name": "Enviar Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1376,
        1904
      ],
      "credentials": {
        "telegramApi": {
          "id": "5FzQejcZwpsJkNQC",
          "name": "Publicar_Bezaleel_IG"
        }
      }
    },
    {
      "parameters": {
        "useCustomSchema": true,
        "operation": "getAll",
        "tableId": "ingresos",
        "filters": {
          "conditions": [
            {
              "keyName": "estado",
              "condition": "eq",
              "keyValue": "pendiente"
            }
          ]
        }
      },
      "id": "30ca0898-b321-44ad-bfad-33172215e7e8",
      "name": "Get a row",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        528,
        2000
      ],
      "credentials": {
        "supabaseApi": {
          "id": "L45EfZyasKYoHiTY",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [{ "triggerAtHour": 9 }]
        }
      },
      "id": "bced886f-c498-428c-98e8-39745524750b",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        304,
        1216
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [{ "triggerAtHour": 9 }]
        }
      },
      "id": "a74393f8-d90d-48e9-867c-de5caa3f5f4c",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        288,
        2000
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [[{ "node": "Consultar Equipos Rentados", "type": "main", "index": 0 }]] },
    "Consultar Equipos Rentados": { "main": [[{ "node": "Filtrar Equipos", "type": "main", "index": 0 }]] },
    "Filtrar Equipos": { "main": [[{ "node": "Switch por Tipo", "type": "main", "index": 0 }]] },
    "Switch por Tipo": {
      "main": [
        [{ "node": "Procesar Vencen Mañana", "type": "main", "index": 0 }],
        [{ "node": "Procesar Vencen Hoy", "type": "main", "index": 0 }]
      ]
    },
    "Procesar Vencen Mañana": { "main": [[{ "node": "Insertar Alertas Mañana", "type": "main", "index": 0 }]] },
    "Insertar Alertas Mañana": { "main": [[{ "node": "Preparar Actualización", "type": "main", "index": 0 }]] },
    "Preparar Actualización": { "main": [[{ "node": "Crear Resumen", "type": "main", "index": 0 }]] },
    "Procesar Vencen Hoy": { "main": [[{ "node": "Insertar Alertas Hoy", "type": "main", "index": 0 }]] },
    "Insertar Alertas Hoy": { "main": [[{ "node": "Crear Resumen", "type": "main", "index": 0 }]] },
    "Crear Resumen": { "main": [[{ "node": "Notificación Telegram", "type": "main", "index": 0 }]] },
    "Webhook Trigger": { "main": [[{ "node": "Validar Input", "type": "main", "index": 0 }]] },
    "Validar Input": { "main": [[{ "node": "Subir a Supabase Storage", "type": "main", "index": 0 }]] },
    "Subir a Supabase Storage": { "main": [[{ "node": "Preparar OCR", "type": "main", "index": 0 }]] },
    "Preparar OCR": { "main": [[{ "node": "Image Explainer", "type": "main", "index": 0 }]] },
    "Image Explainer": { "main": [[{ "node": "Procesar Resultados IA", "type": "main", "index": 0 }]] },
    "Procesar Resultados IA": { "main": [[{ "node": "Insertar en Supabase", "type": "main", "index": 0 }]] },
    "OpenAI Chat Model": { "ai_languageModel": [[{ "node": "Image Explainer", "type": "ai_languageModel", "index": 0 }]] },
    "Insertar en Supabase": { "main": [[{ "node": "Preparar Respuesta", "type": "main", "index": 0 }]] },
    "Preparar Respuesta": { "main": [[{ "node": "Webhook Response", "type": "main", "index": 0 }]] },
    "Schedule Trigger1": { "main": [[{ "node": "Get a row", "type": "main", "index": 0 }]] },
    "Get a row": { "main": [[{ "node": "Verificar Vencidos", "type": "main", "index": 0 }]] },
    "Verificar Vencidos": {
      "main": [
        [{ "node": "Crear Mensaje Telegram", "type": "main", "index": 0 }]
      ]
    },
    "Crear Mensaje Telegram": { "main": [[{ "node": "Enviar Telegram", "type": "main", "index": 0 }]] }
  }
}