workflows/ocr-invoice-processing.json
{
  "name": "OCR Factura - OpenAI Vision",
  "nodes": [
    {
      "parameters": {},
      "id": "webhook-start",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhook": "/process-invoice",
      "httpMethod": "POST",
      "responseMode": "responseNode"
    },
    {
      "parameters": {
        "jsCode": "// Validar datos de entrada\nconst data = $input.first().json.body;\n\nif (!data.user_id || !data.image_base64) {\n  throw new Error('Faltan campos requeridos: user_id, image_base64');\n}\n\nreturn [{\n  json: {\n    user_id: data.user_id,\n    image_base64: data.image_base64,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "validate-input",
      "name": "Validar Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Preparar imagen para OpenAI Vision\nconst imageData = $input.first().json;\n\n// Si la imagen viene como base64, preparar el formato\nlet imageUrl = imageData.image_base64;\nif (!imageUrl.startsWith('data:')) {\n  imageUrl = `data:image/jpeg;base64,${imageUrl}`;\n}\n\nreturn [{\n  json: {\n    user_id: imageData.user_id,\n    image_data: imageUrl,\n    timestamp: imageData.timestamp\n  }\n}];"
      },
      "id": "prepare-openai",
      "name": "Preparar OpenAI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"Extrae los siguientes datos de esta factura y responde en JSON válido:\\n- monto: el total de la factura (número decimal)\\n- fecha_factura: la fecha en formato YYYY-MM-DD\\n- proveedor: nombre del negocio o proveedor\\n- concepto: breve descripción de los productos/servicios\\n- tipo_gasto: categoriza como 'equipamiento_compra', 'alquiler_equipo', 'transporte', 'alimentacion', 'software_licencias', 'subcontratacion', 'material_produccion', 'marketing', 'oficina', 'capacitacion', 'impuestos' o 'otros'\\n\\nResponde SOLO con el JSON, sin texto adicional.\"\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"{{$json.image_data}}\"\n          }\n        }\n      ]\n    }\n  ],\n  \"max_tokens\": 1000\n}"
      },
      "id": "openai-vision",
      "name": "OpenAI GPT-4 Vision",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 300],
      "credentials": {
        "httpHeaderAuth": "OpenAI API"
      }
    },
    {
      "parameters": {
        "jsCode": "// Parsear respuesta de OpenAI\nconst response = $input.first().json;\nconst content = response.choices[0].message.content;\n\nlet extractedData;\ntry {\n  // Limpiar respuesta por si tiene markdown\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  extractedData = JSON.parse(jsonMatch ? jsonMatch[0] : content);\n} catch (e) {\n  extractedData = {\n    monto: null,\n    fecha_factura: null,\n    proveedor: 'No detectado',\n    concepto: content.substring(0, 100),\n    tipo_gasto: 'otros'\n  };\n}\n\nreturn [{\n  json: {\n    user_id: $input.first().json.user_id,\n    monto: extractedData.monto || 0,\n    fecha_factura: extractedData.fecha_factura || new Date().toISOString().split('T')[0],\n    proveedor: extractedData.proveedor || 'No detectado',\n    concepto_ocr: extractedData.concepto || content,\n    tipo_gasto: extractedData.tipo_gasto || 'otros',\n    image_data: $input.first().json.image_data\n  }\n}];"
      },
      "id": "parse-response",
      "name": "Parsear Respuesta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "facturas_gastos",
        "columns": "user_id, monto, fecha_factura, proveedor, concepto_ocr, tipo_gasto, estado, processed_by_n8n",
        "additionalFields": {
          "values": [
            {
              "column": "estado",
              "value": "registrada"
            },
            {
              "column": "processed_by_n8n",
              "value": true
            }
          ]
        }
      },
      "id": "supabase-insert",
      "name": "Insertar en Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1250, 300],
      "credentials": {
        "supabaseApi": "Supabase Account"
      },
      "operation": "insert"
    },
    {
      "parameters": {
        "jsCode": "// Preparar respuesta para el frontend\nconst data = $input.first().json;\n\nreturn [{\n  json: {\n    success: true,\n    extracted_data: {\n      monto: data.monto,\n      fecha_factura: data.fecha_factura,\n      proveedor: data.proveedor,\n      tipo_gasto: data.tipo_gasto,\n      concepto: data.concepto_ocr\n    },\n    message: 'Factura procesada exitosamente con OpenAI Vision'\n  }\n}];"
      },
      "id": "prepare-response",
      "name": "Preparar Respuesta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{JSON.stringify($json)}}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1650, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validar Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Input": {
      "main": [
        [
          {
            "node": "Preparar OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar OpenAI": {
      "main": [
        [
          {
            "node": "OpenAI GPT-4 Vision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT-4 Vision": {
      "main": [
        [
          {
            "node": "Parsear Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Respuesta": {
      "main": [
        [
          {
            "node": "Insertar en Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar en Supabase": {
      "main": [
        [
          {
            "node": "Preparar Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Respuesta": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2.0.0",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "name": "invoice"
    },
    {
      "name": "ocr"
    },
    {
      "name": "openai"
    }
  ]
}
