workflows/ocr-invoice-processing.json
{
  "name": "OCR y Procesamiento de Factura",
  "nodes": [
    {
      "parameters": {},
      "id": "webhook-start",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhook": "/process-invoice",
      "httpMethod": "POST",
      "responseMode": "responseNode"
    },
    {
      "parameters": {
        "functionCode": "// Validar datos de entrada\nconst data = $input.first().json.body;\n\nif (!data.user_id || !data.image_base64) {\n  throw new Error('Faltan campos requeridos: user_id, image_base64');\n}\n\nreturn [{\n  json: {\n    user_id: data.user_id,\n    image_base64: data.image_base64,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "validate-input",
      "name": "Validar Input",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "bucketName": "facturas",
        "fileName": "={{$node[\"Validar Input\"].json[\"user_id\"]}}/{{$now}}_invoice.jpg",
        "binaryProperty": "image",
        "additionalFields": {}
      },
      "id": "upload-storage",
      "name": "Subir a Supabase Storage",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "supabaseApi": "Supabase Account"
      },
      "operation": "upload"
    },
    {
      "parameters": {
        "functionCode": "// Convertir base64 a Buffer para Google Vision\nconst imageBuffer = Buffer.from($node[\"Validar Input\"].json.image_base64, 'base64');\n\nreturn [{\n  json: {\n    ...$node[\"Validar Input\"].json,\n    image_buffer: imageBuffer.toString('base64'),\n    storage_path: $node[\"Subir a Supabase Storage\"].json.path\n  }\n}];"
      },
      "id": "prepare-ocr",
      "name": "Preparar OCR",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vision.googleapis.com/v1/images:annotate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "body": {
          "requests": [
            {
              "image": {
                "content": "={{$node[\"Preparar OCR\"].json.image_buffer}}"
              },
              "features": [
                {
                  "type": "DOCUMENT_TEXT_DETECTION",
                  "maxResults": 1
                }
              ]
            }
          ]
        },
        "options": {}
      },
      "id": "google-vision",
      "name": "Google Vision API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1050, 300],
      "credentials": {
        "httpHeaderAuth": "Google Vision API"
      }
    },
    {
      "parameters": {
        "functionCode": "// Parsear respuesta de Google Vision\nconst response = $input.first().json;\nconst text = response.responses[0].fullTextAnnotation.text;\n\n// Funciones de extracción\nfunction extractAmount(text) {\n  // Buscar montos en formato MXN o USD\n  const patterns = [\n    /\\$\\s?([\\d,]+\\.\\d{2})/g,\n    /MXN\\s?([\\d,]+\\.\\d{2})/g,\n    /USD\\s?([\\d,]+\\.\\d{2})/g,\n    /TOTAL[:\\s]*([\\d,]+\\.\\d{2})/g,\n    /IMPORTE[:\\s]*([\\d,]+\\.\\d{2})/g\n  ];\n  \n  let amounts = [];\n  for (const pattern of patterns) {\n    let match;\n    while ((match = pattern.exec(text)) !== null) {\n      const amount = parseFloat(match[1].replace(/,/g, ''));\n      if (amount > 0 && amount < 1000000) {\n        amounts.push(amount);\n      }\n    }\n  }\n  \n  // Retornar el monto más común o el último encontrado\n  return amounts.length > 0 ? Math.max(...amounts) : null;\n}\n\nfunction extractDate(text) {\n  const patterns = [\n    /(\\d{1,2})[\\/\\-](\\d{1,2})[\\/\\-](\\d{2,4})/,\n    /(\\d{4})[\\/\\-](\\d{1,2})[\\/\\-](\\d{1,2})/,\n    /(\\d{1,2})\\s+(ene|feb|mar|abr|may|jun|jul|ago|sep|oct|nov|dic)[a-z]*\\s+(\\d{2,4})/i\n  ];\n  \n  for (const pattern of patterns) {\n    const match = text.match(pattern);\n    if (match) {\n      let date;\n      if (pattern.source.includes('ene|feb')) {\n        // Formato con meses en español\n        const months = {\n          'ene': 0, 'feb': 1, 'mar': 2, 'abr': 3, 'may': 4, 'jun': 5,\n          'jul': 6, 'ago': 7, 'sep': 8, 'oct': 9, 'nov': 10, 'dic': 11\n        };\n        const day = parseInt(match[1]);\n        const month = months[match[2].toLowerCase()];\n        const year = parseInt(match[3]);\n        date = new Date(year, month, day);\n      } else {\n        date = new Date(match[0]);\n      }\n      \n      if (!isNaN(date.getTime())) {\n        return date.toISOString().split('T')[0];\n      }\n    }\n  }\n  return null;\n}\n\nfunction extractProvider(text) {\n  const lines = text.split('\\n').filter(line => line.trim().length > 3);\n  // Las primeras líneas suelen ser el proveedor\n  for (let i = 0; i < Math.min(5, lines.length); i++) {\n    const line = lines[i].trim();\n    if (line.length > 3 && line.length < 100 && !line.match(/^\\d/)) {\n      return line;\n    }\n  }\n  return 'Proveedor no identificado';\n}\n\nconst extractedData = {\n  monto: extractAmount(text),\n  fecha_factura: extractDate(text),\n  proveedor: extractProvider(text),\n  concepto_ocr: text\n};\n\nreturn [{\n  json: {\n    ...$node[\"Preparar OCR\"].json,\n    ...extractedData\n  }\n}];"
      },
      "id": "parse-ocr",
      "name": "Parsear OCR",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "facturas_gastos",
        "columns": "user_id, imagen_url, monto, fecha_factura, proveedor, concepto_ocr, estado, processed_by_n8n",
        "additionalFields": {}
      },
      "id": "supabase-insert",
      "name": "Insertar en Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1450, 300],
      "credentials": {
        "supabaseApi": "Supabase Account"
      },
      "operation": "insert"
    },
    {
      "parameters": {
        "functionCode": "// Preparar respuesta para el frontend\nconst data = $input.first().json;\nconst supabaseData = $node[\"Insertar en Supabase\"].json;\n\nreturn [{\n  json: {\n    success: true,\n    factura_id: supabaseData[0].id,\n    extracted_data: {\n      monto: data.monto,\n      fecha_factura: data.fecha_factura,\n      proveedor: data.proveedor\n    },\n    storage_url: data.storage_path,\n    message: 'Factura procesada exitosamente'\n  }\n}];"
      },
      "id": "prepare-response",
      "name": "Preparar Respuesta",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{JSON.stringify($json)}}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1850, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validar Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Input": {
      "main": [
        [
          {
            "node": "Subir a Supabase Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subir a Supabase Storage": {
      "main": [
        [
          {
            "node": "Preparar OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar OCR": {
      "main": [
        [
          {
            "node": "Google Vision API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Vision API": {
      "main": [
        [
          {
            "node": "Parsear OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear OCR": {
      "main": [
        [
          {
            "node": "Insertar en Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar en Supabase": {
      "main": [
        [
          {
            "node": "Preparar Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Respuesta": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1.0.0",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    {
      "name": "invoice",
      "id": "1"
    },
    {
      "name": "ocr",
      "id": "2"
    },
    {
      "name": "supabase",
      "id": "3"
    }
  ]
}